[creator]
type = "user"
id = 123456789

[[sync]]
name = "effekseer_textures"
path = "../../Release/Sample/01_Suzuki01/003_snowstorm_effect/Texture"
output = "Dev/Plugin/src/ReplicatedStorage/EffekseerAssets/EffekseerTextures"
format = "luau"
stripExtensions = false
